.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.conteiner-section{
   display: flex;
   margin: 0 2em;
   
   padding: 1em;
}
@media only screen and (min-width:545px) {
    .conteiner-section{
        width: 460px;
    }
} 
@media only screen and (max-width:540px){
    .conteiner-section{
      flex-direction: column;
      align-items: center;
    }
    .illustrator{
        
        margin-top: 25px;
        width: 100px;
        height: 100px;
    }
    .textAboutMe{
        margin: 0 0.5em;
        font-size: 20px;
    }
} 
    

.illustrator{
  width: 200px;
  height: 200px;
  border-radius: 50%;

}
.textAboutMe{
    margin: 0 2em;
    font-size: 1em;
}