@media only screen and (min-width:545px) {
    .conteiner-card{
        margin: 5rem;
        border: solid 1px #aaa;
        border-radius: 5%;
        box-shadow: 2px 2px #aaa 
    }
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.conteiner-section{
   display: flex;
   margin: 0 2em;
   
   padding: 1em;
}
@media only screen and (min-width:545px) {
    .conteiner-section{
        width: 460px;
    }
} 
@media only screen and (max-width:690px){
    .conteiner-section{
      flex-direction: column;
      align-items: center;
    }
    .illustrator{
        
        margin-top: 25px;
        width: 100px;
        height: 100px;
    }
    .textAboutMe{
        margin: 0 0.5em;
        font-size: 20px;
    }
} 
    

.illustrator{
  width: 200px;
  height: 200px;
  border-radius: 50%;

}
.textAboutMe{
    margin: 0 2em;
    font-size: 15px;
}
.conteiner-icons{
    display: flex;
    justify-content: center;
}
.icons-imgs{
    width: 20px;
    height: 20px;
    padding: 1rem;
}